* {
  --test-border-width: 0px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --welcome-background-color: rgb(255, 255, 255);
  --projects-background-color: #EEE;
  --nav-header-height: 2.2em;
  --neg-nav-header-height: calc(- --nav-header-height);
}

.underline {
  text-decoration: underline;
}


/* Nav Bar */

#nav-header {
  border: var(--test-border-width) solid blue;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: var(--nav-header-height);
  background-color: var(--welcome-background-color);
}

#navbar {
  border: var(--test-border-width) solid red;
  display: flex;
  margin-top: .5em;
  /* */
  margin-right: 2%;
  justify-content: space-around;
}

.nav-item {
  margin-right: 25px;
}


/* Anchors */

a {
  color: #03A;
  text-decoration: none;
}

a:visited {
  color: #1BD;
}

a:hover {
  color: #03C;
}

a:active {
  color: #0BB;
}


/* Welcome */

#welcome-section {
  height: 100vh;
  color: rgb(66, 5, 128);
  background-color: var(--welcome-background-color);
  background-image: url("./img/BrickTown-1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

#welcome-body-container {
  background: rgb(190, 190, 190);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-body {
  font-weight: bold;
  text-shadow: 2px 2px #fff
}

.bg-container {
  /*position: relative; /* */
  overflow: hidden;
}

.bg-container img {
  /*position: absolute; 
left: 0;
top: 0; /* */
  height: 100%;
  width: auto;
  max-width: 100%;
  /*Makes responsive, but I prefer w/out */
  /*opacity: .85;/* w/ negative z-index seems this has to be higher to show thru? */
}

#welcome-body {
  /*min-width: 25%; min-height: 50%; /* */
  /*padding: 5px; /* */
  position: absolute;
  /* */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid; /* */
}

#welcome-body h1 {
  font-size: 42px;
  font-size: calc(30px + 1vw);
  /* */
  margin-bottom: .25em;
}

#welcome-body h2 {
  margin-top: .2em;
  font-size: 32px;
  font-size: calc(25px + 1vw);
  /* */
}

.logo {
  width: calc(8em + 3vw);
  /* keeps it in line w/ size of header? */
  opacity: .85;
  margin-bottom: .7em;
  border-radius: 10%;
  box-shadow: 0 0 16px 1px #8B8;
  /* , 0 0 16px 4px #DDD; */
}


/* Projects */

.section {
  padding-top: 20px;
  padding-bottom: 30px;
}

.section__header {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
  padding: 0;
}

.section__subheader {
  text-align: center;
  font-size: 1.3em;
  margin: 0 30px 20px 30px;
  padding-bottom: 20px;
}

.section__footer {
  font-size: 24px;
  padding: 0;
  margin: 0 30px 20px 30px;
}

#projects {
  background-color: var(--projects-background-color);
  padding-top: var(--nav-header-height);
  margin-top: var(--neg-nav-header-height);
  /* This is needed to keep from going under fixed nav header, and separate from tile container below so will not pad up with tile-container color. At least, seems to be necessary */
}

.projects-inner-container {
  background-color: var(--projects-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.projects__inner-container h2 {
  margin-bottom: 1.5em;
}

.project-container-desc-tile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  /* this was keeping desc & image from being on same line */
  margin: 2em;
}

.project-container-tiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project__description {
  display: flex;
  align-items: center;
  align-items: start;
  /* justify-content: center; */
  width: calc(95% - 300px);
  width: 60%;
  margin-top: 2em;
}

.project__description__content {
  font-size: 16px;
  /* height: 200px; */
  /* margin: 1em; */
}

.project-tile {
  background-color: #BBF;
  background-color: #999;
  border: 1px solid #8A8;
  /*#2A2; */
  /*border: 1px solid #9B9; /* */
  height: 200px;
  width: 300px;
  width: 30%;
  /* new */
  height: 194px;
  height: auto;
  /*height: 196px;/* */
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  /* new */
  margin: 2em;
  /* ? */
  /*background-color: var(--projects-background-color); border: 0px; /* */
}

.img-with-caption {
  background-color: #DDD;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
}

.captions {
  margin-top: 5.1px;
  font-size: 16px;
  font-size: var(--caption-font-size);
  /* */
  color: #306;
  color: #104;
  /* */
}

.img-with-caption:hover {
  /* new */
  cursor: pointer;
  opacity: .95;
  transform: scale(0.98);
  transition: all .5s ease;
}


/* Project specific styling */

#eratosthenes {
  background-color: hsl(178, 37%, 81%);
  background-color: #CDD;
  /* */
}

#lotr-survey {
  background-color: #DDE;
}

#product-landing-page {
  background-color: #CDC;
}

#technical-documentation {
  background-color: #CCC;
}


/* Contact Section */

#contact {
  /* height: 990vh; */
  width: 100%;
  padding-top: calc(var(--nav-header-height) + 2em);
  /* */
  margin-top: var(--neg-nav-header-height);
  /* */
  text-align: center;
  margin-bottom: 50px;
}

#contact h2 {
  margin-top: .4em;
}

#contact h3 {
  margin: 8.8px;
}

.contact__info {
  font-size: 20px;
  margin: 18px;
}

#contact__links {
  margin-top: 4em;
}


/* responsive */

@media (max-width: 400px) {
  .captions {
    font-size: var(--caption-small-font-size);
  }
}

@media (min-width: 800px) {
  .section-header {
    font-size: 30px
  }
  .section-subheader {
    font-size: 22px;
  }
  .project__description__content {
    font-size: 20px;
  }
}

@media (min-width: 1415px) {
  .section-header {
    font-size: 36px
  }
  .section-subheader {
    font-size: 28px;
  }
  .project__description__content {
    font-size: 24px;
  }
}


/* Special Effects */

#dynamic:hover {
  color: #0200aa;
  --submit-hover-background: #180030;
  /* Dark purple */
  background-color: var(--submit-hover-background);
  color: rgb(133, 129, 189);
  padding: 10px 18px;
  padding: 5px;
  overflow: hidden;
  border: solid rgb(137, 170, 197);
  border-width: 6px 10px 8px 10px;
  box-shadow: 0 0 8px 6px rgb(88, 146, 156) inset, 5px 0 15px 15px rgb(139, 135, 135);
  /* */
  transform: scale(1.05);
  transition: all 1.2s ease;
  /* animation: hover-pulse 3s infinite;
  animation-delay: 4s;
  to start after transition */
}

@keyframes hover-pulse {
  from {
    color: crimson;
    height: var(--sub-height1);
    width: var(--sub-width1);
    font-size: 5px;
    font-weight: bold;
    padding-top: 16px;
    padding-left: 35px;
  }
  to {
    color: red;
    height: var(--sub-height2);
    width: var(--sub-width2);
    font-size: 7px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 24px;
  }
}